

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
  }

html,
body,
section {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #777;
  margin: 0;
  font-weight: 200;
}

section {
  background: #fff;
  width: 100%;
  min-height: 100%;
  padding: 15px;
  margin: 0;
  box-shadow: rgba(0,0,0,.15) 0 15px 50px;
  position: relative;
}

.clearLink {
   display: inline-block;
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
  width: 15rem;
  transition: all 0.5s;
  cursor: pointer;
    margin-bottom: 0.6rem;
    margin-left: 1.5rem;
    font-family: 'Nunito', sans-serif;
}
.clearLink span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.clearLink span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.clearLink:hover span {
  padding-right: 25px;
}

.clearLink:hover span:after {
  opacity: 1;
  right: 0;
}
textarea {
  font-family: 'Nunito', sans-serif;
  width: 32%;
  min-height: 150px;
  margin: 15px 2% 0 0;
  float: left;
  font-size: 10pt;
  line-height: 14pt;
  font-weight: 200;
  padding: 10px;
  color: #333;
  border: 1px solid #cdcdcd;
  background: #fff;
  box-shadow: inset rgba(0,0,0,.05) 0 3px 10px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea:focus {
  border-color: #33dd33;
}


iframe {
  width: 100%;
  margin: 15px 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  min-height: 400px;
  margin: 15px 0 0 0;
}

@media (min-width:768px) {

  body {
    padding: 50px 50px 0 50px;
  }

  html,
  body,
  section {
    height: auto;
  }

}
