<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="L`devpe`">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/picture1-122x184.png" type="image/x-icon">
  <meta name="description" content="L`devpe`">
  
  <title>login</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <style>
      h1{
          font-size: 5rem;
          font-weight: bold; 
          font-family: Nunito;
          margin-left:3rem;
          margin-bottom:0;
          padding:0;
      }
      .container{
          /* border: 2px solid rgb(38,81,109); */
          width:fit-content;
          margin-left: auto;
          margin-right: auto;
          margin-top: 4rem;
          height: fit-content;
      }
      body{
          font-weight: bold;
          font-family: Nunito;
          background-color: rgb(30,69,97);
          color: rgb(255, 255, 255);
      }
      form{
          /* border: 2px solid rgba(46, 4, 161, 0.418); */
          display:flex;
          flex-direction: column;
          justify-content:space-around;
          align-items: center;
          height: fit-content;
      }
      form div{
          display: flex;
          flex-direction: column;
          /* border: 2px solid red; */
          align-items:flex-start;
          justify-content: center;
          font-size: 0.85rem;
          padding: 0.5rem;
          width: 30rem;
          margin: 1rem;
          border-radius: 15px;
          color: rgb(242,244,245);
      }
      form div input {
          border-color: white;
          width: inherit;
          height:fit-content;
          font-size: 1.1rem;
          background-color: inherit;
          margin-top: 0.4rem;
          padding:0.1rem;
          color: rgb(255,255,255);
          border-width:0;
          border-left-width: 0.2rem;
      }
      #login{
          display:flex;
          flex-direction: row;
          align-items:stretch;
          padding:0;
          height:3rem;
          justify-content: space-around;
      }
      #login input{
          background-color: white;
          width:50%;
          border-radius: 15px;
          font-family: Nunito;
          font-weight: bold;
          margin:0;
          margin-right:1rem;
          padding: 0;
          font-size: 1.3rem;
          height:inherit;
          color:black;
      }
      #login a{
          text-decoration: none;
          background-color: white;
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          text-align: center;
          font-size: 1.3rem;
      }
      
      p{
          margin-left:4rem;
          font-size: 1.7rem;
          padding: 0;
          margin-top:0;
      }
      #login input[type="submit"]:hover , a:hover{
          transform:scale(1.1);
      }
  </style>
  
</head>
<body>
 
<section class="engine" style="margin-top:2rem;"><a href="https://google.com"></a></section><section class="header11 cid-rHx7Td5WLR mbr-fullscreen" id="header11-3l">

  
    
    <div class="container align-left" style="margin-top:2rem;">
        <div class="media-container-column mbr-white col-md-12">
            <h3 class="mbr-section-subtitle py-3 mbr-fonts-style display-5">
                JOIN L`devpe` TODAY
            </h3>
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1">
                Enjoy Learning with  <span style="font-weight:500;">L`devpe`</span>
            </h1>
            <p class="mbr-text py-3 mbr-fonts-style display-5" style="font-weight:normal;">
                Promising platform for those who want to have a head start into web development 
            </p>
            <h2 style="color: red;">Admin setup</h2>
        <p style="color:lightgreen;font-weight: normal;">Drop in your database username and password to connect start the application</p>
        <div class="container">
            <p style="margin:0;margin-left: 1.5rem;font-size:1.5rem;color: lightgreen;font-weight: normal;">used to setup database in local server</p>
            <form action="http://localhost:3000/admin" method="POST">
                <div>
                    <label for="username">MYSQL USERNAME</label>
                    <input id = "username" name="username" type="text" placeholder="root" required = "true" autocomplete="off" />
                </div>
                <div>
                    <label for="password">MYSQL PASSWORD</label>
                    <input id = "password" name="password" type="password" placeholder="password" required = "true" />
                </div>
                <span style="align-self: flex-start;margin-left: 2rem;display:flex;flex-direction: row;align-items: center"><input type = "checkbox" id="visible" name = "visibility" onclick="show()" /><p style="font-size:1rem;display:inline;margin:0;margin-left:0.7rem;">show password</p></span>

                <div id="login">
                    <input id="submit" type="submit" value="connect"  />
                </div>
            </form>
        </div>
        <p style="color:green;text-align: center;">*app may not work as intended if wrong credentials are entered</p>
        <script>
            function show(){
                var x = document.getElementById("visible");
                var y = document.getElementById("password");
                var z = document.querySelector("span p");
                if(x.checked === true)
                {
                    y.setAttribute("type","text");
                    z.innerHTML = "hide password";
                }
                else{
                    y.setAttribute("type","password");
                    z.innerHTML = "show password";
                }
            }
        </script>
        </div>
    </div>

    
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>