<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="L`devpe`">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/picture1-122x184.png" type="image/x-icon">
  <meta name="description" content="Explore various web topics from L`devpe`">
  
  <title>Challenger Week | L`devpe`</title>
  <link rel="stylesheet" href="/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/tether/tether.min.css">
  <link rel="stylesheet" href="/animatecss/animate.min.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
</head>
<body>
  <section class="menu cid-rEdaGUzGrs" once="menu" id="menu1-w">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm" style="background: black;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="/images/picture1-122x184.png" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">L`devpe`</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="nav-link link text-white display-4" href="/logout" id="my_home" style="font-size: 0.85rem;">
            Logout</a>
        </li></ul>
 
    <div class="navbar-buttons mbr-section-btn">
            <a class="btn btn-sm btn-success-outline display-4" href="/takeaways" style="color: white;">Take aways</a>
        <a class="btn btn-sm btn-success-outline display-4" href="/disc/0" style="color: white;border-color: #0000FF;">Forum</a> <a class="btn btn-sm btn-secondary-outline display-4" href="/profile" style="color: white;">Profile</a> <a class="btn btn-sm btn-white-outline display-4" href="/challenger" style="color: white;">C Week</a> <a class="btn btn-sm btn-primary-outline display-4" href="/resources" style="color: white;">Links</a> <a class="btn btn-sm btn-secondary-outline display-4" href="/daily_practice" target="_blank" style="color: white;">Editor</a></div>
 
        </div>
    </nav>
</section>
