<%- include header.ejs %>
<section class="engine"><a href="https://mobirise.info/q">free responsive web templates</a></section><section class="features18 popup-btn-cards cid-rEcMtpEoRp" id="features18-e">
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Explore a wide range of topics from us!</h2>
        <h3 class="mbr-section-subtitle display-5 align-center mbr-fonts-style mbr-light">
            Hover on to a particular topic and start learning by clicking on it.<br></h3>
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-secondary-outline display-4">Learn More</a></div>
                        <img src="/images/html4-676x380.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            HTML</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            Hypertext Markup Language (HTML) is the standard markup language for documents designed to be displayed in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-primary-outline display-4">Learn More</a></div>
                        <img src="/images/css2-676x380.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            CSS</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-warning-outline display-4">Learn More</a></div>
                        <img src="/images/bootstrap2-314x160.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Bootstrap</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS- and (optionally) JavaScript-based design templates for typography, forms, buttons, navigation and other interface components.<br></p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-rEcPntzt5R" id="features18-i">

    

    
    <div class="container">
        
        
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-success-outline display-4">Learn More</a></div>
                        <img src="/images/javascript-300x168.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">JavaScript</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">Alongside HTML and CSS, JavaScript is one of the core technologies of the World Wide Web.JavaScript enables interactive web pages and is an essential part of web applications.</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-info-outline display-4">Learn More</a></div>
                        <img src="/images/jquery-676x372.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            jQuery</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-info-outline display-4">Learn More</a></div>
                        <img src="/images/angular-676x380.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">AngularJS</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            AngularJS is a JavaScript-based open-source front-end web framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-rEcQ6K5DbU" id="features18-j">

    

    
    <div class="container">
        
        
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-white-outline display-4">Learn More</a></div>
                        <img src="/images/json2-676x416.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            JSON</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            JSON is a language-independent data format. It was derived from JavaScript, but many modern programming languages include code to generate and parse JSON-format data.</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-primary display-4">Learn More</a></div>
                        <img src="/images/ajax-1046x502.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            AJAX</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Ajax is a set of web development techniques using many web technologies on the client side to create asynchronous web applications.With Ajax, web applications can send and retrieve data from a server asynchronously (in the background) without interfering with the display and behavior of the existing page.<br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-black-outline display-4">Learn More</a></div>
                        <img src="/images/react-676x354.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            React</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            React can be used as a base in the development of single-page or mobile applications, as it is optimal for fetching rapidly changing data that needs to be recorded.
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-rEcNGhv6Hr" id="features18-g">

    

    
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Explore our backend tutorials</h2>
        
        <div class="media-container-row pt-5 ">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-white-outline display-4">Learn More</a></div>
                        <img src="/images/sql3-492x438.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            SQL</h4>
                        <p class="mbr-text mbr-fonts-style align-left display-7">
                            SQL is particularly useful in handling structured data, i.e. data incorporating relations among entities and variables.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-info-outline display-4">Learn More</a></div>
                        <img src="/images/php2-492x258.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            PHP&nbsp;</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           PHP: Hypertext Preprocessor (or simply PHP) is a general-purpose programming language originally designed for web development.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-primary display-4">Learn More</a></div>
                        <img src="/images/asp2-492x277.jpg" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">ASP</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            ASP.NET is an open-source server-side web application framework designed for web development to produce dynamic web pages developed by Microsoft to allow programmers to build dynamic web sites, applications and services.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="https://mobirise.co" class="btn btn-black-outline display-4">Learn More</a></div>
                        <img src="/images/node-492x257.png" alt="Mobirise" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-7">
                            Node.js</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Node.js is an open-source, cross-platform, JavaScript run-time environment that executes JavaScript code outside of a browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content before the page is sent to the user's web browser. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <script src="popper/popper.min.js"></script>
  <script src="web//jquery/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="dropdown/js/nav-dropdown.js"></script>
  <script src="dropdown/js/navbar-dropdown.js"></script>
  <script src="touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="mbr-popup-btns/mbr-popup-btns.js"></script>
  <script src="tether/tether.min.js"></script>
  <script src="smoothscroll/smooth-scroll.js"></script>
  <script src="theme/js/script.js"></script>
  
  
</body>
</html>
