<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="L`devpe`">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/picture1-122x184.png" type="image/x-icon">
  <meta name="description" content="Explore various web topics from L`devpe`">
  
  <title>Challenger Week | L`devpe`</title>
  <link rel="stylesheet" href="/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/tether/tether.min.css">
  <link rel="stylesheet" href="/animatecss/animate.min.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
</head>
<body>
  <section class="menu cid-rEdaGUzGrs" once="menu" id="menu1-w">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm" style="background: black;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="/images/picture1-122x184.png" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">L`devpe`</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
            
          <a class="nav-link link text-white display-4" href="/logout" id="my_home" style="font-size: 0.85rem;">
            Logout</a>
        </li></ul>
 
    <div class="navbar-buttons mbr-section-btn">
            <a class="btn btn-sm btn-success-outline display-4" href="/takeaways" style="color: white;">Take aways</a>
        <a class="btn btn-sm btn-success-outline display-4" href="/disc/0" style="color: white;">Forum</a> <a class="btn btn-sm btn-secondary-outline display-4" href="/profile" style="color: white;">Profile</a> <a class="btn btn-sm btn-white-outline display-4" href="/challenger" style="color: white;border-color: #0000FF;">C Week</a> <a class="btn btn-sm btn-primary-outline display-4" href="/resources" style="color: white;">Links</a> <a class="btn btn-sm btn-secondary-outline display-4" href="/daily_practice" target="_blank" style="color: white;">Editor</a></div>
 
        </div>
    </nav>
</section>

<section class="engine"><a href="https://google.com">html site templates</a></section><section class="mbr-section article content10 cid-rEHtivhbmj" id="content10-29" style="background: black;">
    
  <div style="height:2rem;background: black;" ></div>

    <div class="container" style="background: black;">
        <div class="inner-container" style="width: 72%;" style="background: black;">
            <hr class="line" style="width: 100%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-7" style="background: black;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Note: &nbsp; &nbsp; &nbsp; &nbsp; 1) When you start the test, an automated timer is going to run for 3hrs.<br>&nbsp; &nbsp;2) Don't reload, otherwise progress will be lost<br>3) Split this tab and the editor tab if needed.<br>&nbsp;</div>
            <hr class="line" style="width: 100%;">
        </div>
    </div>
</section>

<section class="features4 cid-rEHurf2wV5 mbr-parallax-background" id="features4-2d">
    
         

    <div class="mbr-overlay">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Problem</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Your task is to create a runtime working HTML page with given below attributes and mentioned descriptive details, the objective is to replicate the page as similar as possible.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Details</h4>
                        <p class="mbr-text mbr-fonts-style display-7">The solution page must contain a navigation bar with given titles and a search bar, along with the more option having a dropdown box with multiple navigators. Continuing with the resources provided and the context in the pictures, notice the changes in font and alignment of the context. After the blocks provided to "buy tickets", you have to create input fields for information retrieval and store it.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Topics required</h4>
                        <p class="mbr-text mbr-fonts-style display-7">HTML(obviously), CSS, JavaScript<br>
<br>Resources for Images:<br><a href="https://www.cmarix.com/wp-content/uploads/2019/04/7-Ways-To-Integrate-Motion-Into-Web-Design.gif" target="_blank">Image1</a><br><a href="https://cdn.mos.cms.futurecdn.net/gvQ9NhQP8wbbM32jXy4V3j.jpg" target="_blank">Image2</a><br><a href="https://lonelyplanetimages.imgix.net/mastheads/GettyImages-538096543_medium.jpg?sharp=10&vib=20&w=1200" target="_blank">Image3</a><br><a href="https://photos.mandarinoriental.com/is/image/MandarinOriental/paris-2017-home?wid=2880&hei=1280&fmt=jpeg&crop=9,336,2699,1200&anchor=1358,936&qlt=75,0&fit=wrap&op_sharpen=0&resMode=sharp2&op_usm=0,0,0,0&iccEmbed=0&printRes=72" target="_blank">Image4</a><br><a href="https://media-cdn.tripadvisor.com/media/photo-m/1280/01/70/71/51/the-painted-ladies-of.jpg" target="_blank">Image5</a><br><a href="https://d3n8a8pro7vhmx.cloudfront.net/shopkeepermovie/pages/223/attachments/original/1509718909/crossroads_by_catch___22-d6byk3a.jpg?1509718909" target="_blank">Image6</a></p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="mbr-section article content10 cid-rEHx67yqtR" id="content10-2g">
    
     

    <div class="container">
        <div class="inner-container" style="width: 66%;">
            <hr class="line" style="width: 83%;">
            <div class="section-text align-center mbr-white mbr-fonts-style display-5">The web page that you design should be like this.&nbsp;</div>
            <hr class="line" style="width: 83%;">
        </div>
    </div>
</section>

<section class="cid-rEHxMibU15" id="image1-2h">

    

    <figure class="mbr-figure">
        <div class="image-block" style="width: 66%;">
            <img src="/images/ch2-1280x631.jpg" width="1400" alt="Mobirise" title="">
            
        </div>
    </figure>
</section>

<section class="cid-rES2FxpJJy" id="image1-34">

    

    <figure class="mbr-figure">
        <div class="image-block" style="width: 100%;">
            <img src="/images/ch3-1280x631.jpg" width="1400" alt="Mobirise" title="">
            
        </div>
    </figure>
</section>

<section class="cid-rES2FT2x4q" id="image1-35">

    

    <figure class="mbr-figure">
        <div class="image-block" style="width: 100%;">
            <img src="/images/ch4-1280x638.jpg" width="1400" alt="Mobirise" title="">
            
        </div>
    </figure>
</section>

<section class="cid-rES2Gf6OgY" id="image1-36">

    

    <figure class="mbr-figure">
        <div class="image-block" style="width: 100%;">
            <img src="/images/ch5-1280x639.jpg" width="1400" alt="Mobirise" title="">
            
        </div>
    </figure>
</section>

<section class="cid-rES2GCMO9P" id="image1-37">

    

    <figure class="mbr-figure">
        <div class="image-block" style="width: 100%;">
            <img src="/images/ch1-1280x629.jpg" width="1400" alt="Mobirise" title="">
            
        </div>
    </figure>
</section>

<section class="mbr-section content8 cid-rEHyoMPeov" id="content8-2i">

    

    <div class="container">
        <div class="media-container-row title">
            <div class="col-12 col-md-8">
                <div class="mbr-section-btn align-center"><a class="btn btn-black-outline display-4" href="/safety" target="_blank"><span class="mobi-mbri mobi-mbri-paper-plane mbr-iconfont mbr-iconfont-btn"></span>START TEST</a></div>
            </div>
        </div>
    </div>
</section>


  <script src="/web/assets/jquery/jquery.min.js"></script>
  <script src="/popper/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/smoothscroll/smooth-scroll.js"></script>
  <script src="/dropdown/js/nav-dropdown.js"></script>
  <script src="/dropdown/js/navbar-dropdown.js"></script>
  <script src="/tether/tether.min.js"></script>
  <script src="/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/parallax/jarallax.min.js"></script>
  <script src="/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/theme/js/script.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>
