<%- include header.ejs %>
<section class="step1 cid-rEIxoPIZQS" id="step1-2l">

    

    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">HTML Basics 1&nbsp;</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Description goes here</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2"><a href="https://google.com" class="text-primary">Introduction</a></h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Editors</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Basic</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Elements</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            5
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Attributes</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            6
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Headings</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            7
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Paragraphs</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            8
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Styles</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            9
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Formatting</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="step1 cid-rEIAr0whmz" id="step1-2s">

    

    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">HTML Basics 2&nbsp;</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Description goes here</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Quotations</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Comments</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Colors</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            CSS</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            5
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Links</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            6
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Images</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            7
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Tables</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            8
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Lists</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            9
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Blocks</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="step1 cid-rEIArse2nW" id="step1-2t">

    

    
    
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">HTML Basics 3&nbsp;</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Description goes here</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Classes</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Id</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Iframes</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            JavaScript</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            5
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            File Paths</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            6
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Head</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            7
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Layout</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            8
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Responsive</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            9
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Computercode</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="step1 cid-rEIArUaqdZ" id="step1-2u">
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">HTML Basics 4&nbsp;</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Description goes here</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Entities</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Symbols</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Charset</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Url Encode</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            5
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            XHTML</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            6
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Forms</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            7
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Form Elements</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            8
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Input Types</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            9
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Input Attributes</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="step1 cid-rEIAsl0poh" id="step1-2v">
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">HTML Basics 5&nbsp;</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Description goes here</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">HTML5 Intro</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">HTML5 Support</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">HTML5 New Elements</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            HTML5 Semantics</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            5
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            HTML5 Migration</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            6
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            HTML5 Style Guide</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            7
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Canvas</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            8
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            SVG</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="step1 cid-rEIAsMQdxu" id="step1-2w">
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">HTML Media</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Description goes here</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Media</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Video</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Audio</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Plug-ins</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            5
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Youtube</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="step1 cid-rEIAtf5yON" id="step1-2x">
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">HTML APIs</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Description goes here</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Geolocation</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Drag/Drop</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Web Storage</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Web Workers</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            5
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">SSE</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</section>
<section class="step1 cid-rEIAtHLZAE" id="step1-2y">
    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">HTML Miscellaneous</h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">Description goes here</h3>
        <div class="step-container">
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            1
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Examples</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            2
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Exercises</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            3
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">Attributes</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>

            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            4
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Events</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            5
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            PX to EM Converter</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            6
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Doctypes</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            7
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">HTTP Messages</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card separline pb-4">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            8
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            HTTP Methods</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="step-element d-flex">
                    <div class="step-wrapper pr-3">
                        <h3 class="step d-flex align-items-center justify-content-center">
                            9
                        </h3>
                    </div>          
                    <div class="step-text-content">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-2">
                            Audio/Video</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  <script src="/web/asstes/jquery/jquery.min.js"></script>
  <script src="/popper/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/smoothscroll/smooth-scroll.js"></script>
  <script src="/playervimeo/vimeo_player.js"></script>
  <script src="/tether/tether.min.js"></script>
  <script src="/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/dropdown/js/nav-dropdown.js"></script>
  <script src="/dropdown/js/navbar-dropdown.js"></script>
  <script src="/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/parallax/jarallax.min.js"></script>
  <script src="/theme/js/script.js"></script>
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>
