<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="L`devpe`">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/images/picture1-122x184.png" type="image/x-icon">
  <meta name="description" content="Topic of the Week and various other resources">
  
  <title>Resources | L`devpe`</title>
  <link rel="stylesheet" href="/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/tether/tether.min.css">
  <link rel="stylesheet" href="/dropdown/css/style.css">
  <link rel="stylesheet" href="/socicon/css/styles.css">
  <link rel="stylesheet" href="/animatecss/animate.min.css">
  <link rel="stylesheet" href="/theme/css/style.css">
  <link rel="preload" as="style" href="/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="/mobirise/css/mbr-additional.css" type="text/css">
  
  
</head>
<body>
  <div style="height:4rem;"></div>   
  <section class="header6 cid-rEeBtGwa9q mbr-parallax-background" id="header6-1s">

    

    <div class="mbr-overlay">
    </div>

    <div class="container" >
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1"  style="color:black;">
                    Topic of the week</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5" style="color:black;">Presenting the rich reading content. Reading takes 5-6 hrs approx.&nbsp;<br>(Topics will be automatically updated weekly.)</p>
                
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

<section class="engine"><a href="https://google.com">simple web templates</a></section><section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-1f">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm" style="background: black;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="/">
                         <img src="/images/picture1-122x184.png" alt="L`devpe`" title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">L`devpe`</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
            <a class="nav-link link text-white display-4" href="/logout" id="my_home" style="font-size: 0.85rem;">
                Logout</a>
            </li></ul>
     
        <div class="navbar-buttons mbr-section-btn">
                <a class="btn btn-sm btn-success-outline display-4" href="/takeaways" style="color: white;">Take aways</a>
            <a class="btn btn-sm btn-success-outline display-4" href="/disc/0" style="color: white;">Forum</a> <a class="btn btn-sm btn-secondary-outline display-4" href="/profile" style="color: white;">Profile</a> <a class="btn btn-sm btn-white-outline display-4" href="/challenger" style="color: white;">C Week</a> <a class="btn btn-sm btn-primary-outline display-4" href="/resources" style="color: white;border-color: #0000FF;">Links</a> <a class="btn btn-sm btn-secondary-outline display-4" href="/daily_practice" target="_blank" style="color: white;">Editor</a></div>
     </div>
    </nav>
</section>

<section class="features4 cid-rEez7UJqMq" id="features4-1g">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://codeburst.io/the-2018-web-developer-roadmap-826b1b806e8d">
                            The 2018 Web Developer Roadmap</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">Want to learn to code? There is no better time to start than right now. Below is an illustrated roadmap focussed on how to become a developer in 2018. Don’t let these illustrations scare you.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/@hamedbaatour/build-a-real-world-beautiful-web-app-with-angular-6-a-to-z-ultimate-guide-2018-part-i-e121dd1d55e">
                            Build A Real World Beautiful Web APP with Angular 8 — A to Z Ultimate Guide (2019) — PART I</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            No more ugly tutorials projects ! No more fictional brands examples!
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/@matteozago/why-the-web-3-0-matters-and-you-should-know-about-it-a5851d63c949">Why the Web 3.0 Matters and you should know about it</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            There’s plenty of buzz around the web 3.0 and the sweeping changes it will bring to the industry, but few people actually know why it spawned and what it will bring. To understand this, it’s necessary to travel back in time and examine it predecessors, Web 1.0 & 2.0.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/matter/the-web-we-have-to-save-2eb1fe15a426">
                            The Web We Have to Save</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           The rich, diverse, free web that I loved — and spent years in an Iranian jail for — is dying. Why is nobody stopping it?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features4 cid-rEeQZ45bpC" id="features4-1w">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/google-design/google-photos-45b714dfbed1">
                           Building the Google Photos Web UI</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">A peek under the hood</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://gen.medium.com/nuance-a-love-story-ae6a14991059">
                           Nuance: A Love Story</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           My affair with the intellectual dark web
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/free-code-camp/web-development-explained-to-a-time-traveler-from-ten-years-ago-600fad81170d">How I would explain a decade of web development to a time traveler from 2007</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           I’m glad that you’re still interested in computers! Today we have many more of them than we did 10 years ago, and that comes with new challenges. We wear computers on our wrists and faces, keep them in our pockets, and have them in our fridges and kettles. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/@jowitaemberton/7-future-web-design-trends-fba93eba6355">
                            7 future web design trends</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Too many articles will tell you what is cool in web design. I’m going to take you past the obvious to make some real predictions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features4 cid-rEeR6bAZkh" id="features4-1x">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/free-code-camp/i-built-a-pwa-and-published-it-in-3-app-stores-heres-what-i-learned-7cb3f56daf9b">
                            I built a Progressive Web App and published it in 3 app stores. Here’s what I learned.</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">One month of work, several hundred dollars, and lots of red tape.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/free-code-camp/how-to-scrape-websites-with-python-and-beautifulsoup-5946935d93fe">
                           How to scrape websites with Python and BeautifulSoup</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           There is more information on the Internet than any human can absorb in a lifetime. What you need is not access to that information, but a scalable way to collect, organize, and analyze it.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/ladies-storm-hackathons/how-we-built-our-first-full-stack-javascript-web-app-in-three-weeks-8a4668dbd67c">How we built our first full-stack JavaScript web app in three weeks</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           A simple step-by-step guide to go from idea to deployed app
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/free-code-camp/the-practical-guide-to-becoming-a-professional-web-developer-2f255bc25c90">
                            The Practical Guide to Becoming a Professional Web Developer</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           This article is meant to serve as a practical guide to becoming a professional web developer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features4 cid-rEeR7CjHlF" id="features4-1y">
    
         

    
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/@sall/the-future-of-web-design-is-hidden-in-the-history-of-architecture-1cc93ea854d0">
                            The Future of Web Design is Hidden in the History of Architecture</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">The history of Western architecture can teach us a lot about the evolution of web design. As forms of art, both are defined by several factors:</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/free-code-camp/a-developers-guide-to-web-design-for-non-designers-1f64ce28c38d">
                            A developer’s guide to web design for non-designers</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            I created my first website as a school project when I was 14. The task was simple: create a very basic site including some text, images, and a table. My usual attitude to school projects was to completely forget about them and later come up with some last-minute solution. 
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://stories.jotform.com/calling-all-web-developers-heres-why-you-should-be-using-firefox-983f012d4aec">Calling all web developers: here’s why you should be using Firefox</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           I don’t know how old you are; but, as someone who was born in the late 80s, I remember the rise — and fall — of Firefox well.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper media-container-row">
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><a href="https://medium.com/@addyosmani/progressive-web-apps-with-react-js-part-i-introduction-50679aef2b12">
                            Progressive Web Apps with React.js: Part I — Introduction</a></h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Progressive Web Apps take advantage of new technologies to bring the best of mobile sites & native apps to users. They’re reliable, fast, and engaging. They originate from a secure origin and load regardless of network state.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section content4 cid-rEeO7zow5W" id="content4-1u">

    

    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center pb-3 mbr-fonts-style display-2">
                    All time resource links</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-fonts-style display-5">Can you build AR/ VR with JavaScript and HTML?<br>Always keep yourself updated about the current trends in web dev. We wish to increase the number of links as time progresses.</h3>
                
            </div>
        </div>
    </div>
</section>

<section class="toggle1 cid-rEf3N3rZss" id="toggle1-1z"style="opacity:1.0;background: black;">

    

    
        <div class="container" style="opacity:1.0;background: black;">
            <div class="media-container-row">
                <div class="col-12 col-md-8">
                    <div class="section-head text-center space30">
                       <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">150 Links covering different technology stacks<br></h2>
                    </div>
                    <div class="clearfix"></div>
                    <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse1_16" aria-expanded="false" aria-controls="collapse1">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>HTML &amp; CSS (20+)</h4>
                                </a>
                            </div>
                            <div id="collapse1_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7"><a href="https://medium.com/free-code-camp/how-to-make-your-html-responsive-by-adding-a-single-line-of-css-2a62de81e431" target="_blank" class="text-primary">How to make your HTML responsive by adding a single line of CSS</a><br><a href="https://medium.com/@emilwallner/how-you-can-train-an-ai-to-convert-your-design-mockups-into-html-and-css-cc7afd82fed4" target="_blank" class="text-primary">How you can train an AI to convert your design mockups into HTML and CSS</a><br><a href="https://medium.com/signal-v-noise/stimulus-1-0-a-modest-javascript-framework-for-the-html-you-already-have-f04307009130" target="_blank" class="text-primary">Stimulus 1.0: A modest JavaScript framework for the HTML you already have&nbsp;</a><br><a href="https://medium.com/hackernoon/15-html-element-methods-youve-potentially-never-heard-of-fc6863e41b2a" target="_blank" class="text-primary">15 HTML element methods you’ve potentially never heard of</a><br><a href="https://medium.com/@mikeal/ive-seen-the-future-it-s-full-of-html-2577246f2210" target="_blank" class="text-primary">I’ve seen the future, it’s full of HTML</a>&nbsp;<br><a href="https://medium.com/free-code-camp/how-to-easily-build-desktop-apps-with-html-css-and-javascript-d3e3f03f95a5" target="_blank" class="text-primary">How to Easily Build Desktop Apps with HTML, CSS and Javascript</a>&nbsp;<br><a href="https://medium.com/free-code-camp/how-to-disappear-completely-2f23ddb14835" target="_blank" class="text-primary">How to make HTML disappear completely&nbsp;</a><br><a href="https://medium.com/arjs/augmented-reality-in-10-lines-of-html-4e193ea9fdbf" target="_blank" class="text-primary">Augmented Reality in 10 Lines of HTML</a>
<br><a href="https://medium.com/free-code-camp/creating-a-bare-bones-quote-generator-with-javascript-and-html-for-absolute-beginners-5264e1725f08" target="_blank" class="text-primary">How to build a random quote generator with JavaScript and HTML, for absolute beginners</a>
<br><a href="https://medium.com/@zac_heisey/7-alternatives-to-the-div-html-tag-7c888c7b5036" target="_blank" class="text-primary">7 Alternatives to the&nbsp;&lt;div&gt; HTML code</a><br><a href="https://medium.com/free-code-camp/how-making-hundreds-of-hip-hop-beats-helped-me-understand-html-and-css-cb7c61e847cf" target="_blank" class="text-primary">How making hundreds of hip hop beats helped me understand HTML and CSS</a><br><a href="https://medium.com/alistapart/writing-html-with-accessibility-in-mind-a62026493412" target="_blank" class="text-primary">Writing HTML with accessibility in mind</a><br><a href="https://codeburst.io/25-html-css-tutorials-6a864f387185" target="_blank" class="text-primary">25 HTML &amp; CSS Tutorials</a><br><a href="https://blog.halolabs.io/building-ar-vr-with-javascript-and-html-97af4434bcf6" target="_blank" class="text-primary">Building AR/VR with Javascript and HTML</a><a href="https://codeburst.io/25-html-css-tutorials-6a864f387185" target="_blank"><br></a><a href="https://codeburst.io/the-most-uncommon-html5-tags-52273fabc0a7" target="_blank" class="text-primary">The most uncommon HTML5 tags you can use right now</a><br><a href="https://medium.com/free-code-camp/want-to-learn-how-to-built-websites-heres-our-free-full-length-html5-course-4ca68cd4a39a" target="_blank" class="text-primary">Want to learn how to build websites? Here’s our free, full-length HTML5 course.</a><br><a href="https://codeburst.io/build-a-minimalist-html-card-in-just-53-lines-of-code-with-flexbox-b40801927eb5" target="_blank" class="text-primary">Build a Minimalist HTML Card in just 53 lines of code (with Flexbox)</a><br><a href="https://medium.com/free-code-camp/how-to-easily-build-mashables-navigation-bar-with-html-and-css-9e5007af786" target="_blank" class="text-primary">How to easily build Mashable’s navigation bar with HTML and CSS</a><br><a href="https://medium.com/@dmccoy/how-to-submit-an-html-form-to-google-sheets-without-google-forms-b833952cc175" target="_blank" class="text-primary">How to Submit an HTML Form to Google Sheets…without Google Forms</a>
<br><a href="https://medium.com/free-code-camp/how-to-build-an-html-calculator-app-from-scratch-using-javascript-4454b8714b98" target="_blank" class="text-primary">How to build an HTML calculator app from scratch using JavaScript</a><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse2_16" aria-expanded="false" aria-controls="collapse2">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Bootstrap (50+)</h4>
                                </a>

                            </div>
                            <div id="collapse2_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7"><a href="https://medium.com/hackernoon/how-css-grid-beats-bootstrap-85d5881cf163" target="_blank" class="text-primary">Why CSS Grid is better than Bootstrap for creating layouts&nbsp;</a><br><a href="https://medium.com/free-code-camp/the-anatomy-of-a-bootstrap-dashboard-that-earns-1-000s-each-month-ed3404010d25" target="_blank" class="text-primary">The anatomy of a Bootstrap dashboard that earns $1,000s each month</a><br><a href="https://medium.com/free-code-camp/bootstrap-4-everything-you-need-to-know-c750991f6784" target="_blank" class="text-primary">Bootstrap 4: Everything You Need to Know</a><br><a href="https://medium.com/free-code-camp/learn-bootstrap-4-in-5-minutes-da94728efe41" target="_blank" class="text-primary">Learn Bootstrap 4 in 5 minutes</a><br><a href="https://medium.com/free-code-camp/learn-bootstrap-4-in-30-minute-by-building-a-landing-page-website-guide-for-beginners-f64e03833f33" target="_blank" class="text-primary">Learn Bootstrap 4 in 30 minutes by building a landing page website</a><br><a href="https://uxplanet.org/how-the-bootstrap-4-grid-works-a1b04703a3b7" target="_blank" class="text-primary">How the Bootstrap 4 Grid Works</a><br><a href="https://medium.com/free-code-camp/want-to-learn-bootstrap-4-heres-our-free-10-part-course-happy-easter-35c004dc45a4" target="_blank" class="text-primary">Want to learn Bootstrap 4? Here’s our free 10-part course. Happy Easter!</a><br><a href="https://medium.com/wdstack/bootstrap-4-whats-new-visual-guide-c84dd81d8387" target="_blank" class="text-primary">Bootstrap 4: What’s New</a><br><a href="https://medium.com/@fat/twitter-bootstrap-b95033c270af" target="_blank" class="text-primary">Twitter Bootstrap</a><br><a href="https://blog.usejournal.com/how-i-bootstrapped-a-side-project-to-6k-month-while-secretly-hating-everything-it-stands-for-f7405823de4" target="_blank" class="text-primary">How I Bootstrapped My Side Project to $6k/Month While Hating Everything It Stands For</a><br><a href="https://open.nytimes.com/bootstrap-to-css-grid-87b3f5f830e4" target="_blank" class="text-primary">From Bootstrap to CSS Grid</a><br><a href="https://medium.com/@tomastrajan/how-to-build-responsive-layouts-with-bootstrap-4-and-angular-6-cfbb108d797b" target="_blank" class="text-primary">How To Build Responsive Layouts With Bootstrap 4 and Angular 6</a><br><a href="https://medium.com/codingthesmartway-com-blog/building-an-angular-5-project-with-bootstrap-4-and-firebase-4504ff7717c1" target="_blank" class="text-primary">Building An Angular 5 Project with Bootstrap 4 and Firebase</a><br><a href="https://codeburst.io/evaluating-css-frameworks-bulma-vs-foundation-vs-milligram-vs-pure-vs-semantic-vs-uikit-503883bd25a3" target="_blank" class="text-primary">Evaluating CSS Frameworks — Bootstrap vs Bulma vs Foundation vs Milligram vs Pure vs Semantic vs UIKit</a><br><a href="https://medium.com/wdstack/how-to-bootstrap-94abe3525442" target="_blank" class="text-primary">How-to… Bootstrap</a><br><a href="https://medium.com/startup-grind/serverless-bootstrap-your-startup-by-only-doing-half-of-the-work-46a7a4fca5cf" target="_blank" class="text-primary">Serverless: Bootstrap your startup by only doing half of the work</a><br><a href="https://medium.com/free-code-camp/building-your-first-bootstrap-4-0-site-b54bbff6bc55" target="_blank" class="text-primary">Building your first Bootstrap 4.0 site</a><br><a href="https://medium.com/hackernoon/bootstrap-framework-best-practises-b1d81c02d6cf" target="_blank" class="text-primary">Bootstrap Framework — Best Practices</a><br><a href="https://medium.com/codingthesmartway-com-blog/using-bootstrap-with-angular-c83c3cee3f4a" target="_blank" class="text-primary">Using Bootstrap with Angular</a><br><a href="https://medium.com/hackernoon/how-we-bootstrapped-our-startup-to-1m-in-12-months-and-you-can-too-dad55578062c" target="_blank" class="text-primary">How We Bootstrapped Our Startup to 1M $ in 12 Months (And You Can Too)</a><br><a href="https://medium.com/@beeman/tutorial-styling-angular-cli-v6-apps-with-bootstrap-8d4f8ea5adae" target="_blank">Tutorial: Styling Angular CLI v6 apps with Bootstrap</a><br><a href="https://medium.com/digital-nomad-stories/bootstrapping-in-saigon-fc9744367386" target="_blank" class="text-primary">Bootstrapping in Saigon</a><br><a href="https://blog.angularindepth.com/how-to-manually-bootstrap-an-angular-application-9a36ccf86429" target="_blank" class="text-primary">How to manually bootstrap an Angular application</a><br><a href="https://uxplanet.org/how-to-customize-bootstrap-b8078a011203" target="_blank" class="text-primary">How to Customize Bootstrap</a><br><a href="https://medium.com/@petehouston/setup-twitter-bootstrap-grid-in-sketch-f6e69eab95c2" target="_blank" class="text-primary">Setup Twitter Bootstrap grid in Sketch</a><br><a href="https://codeburst.io/part-1-bootstrap-4-vs-foundation-6-4-the-grid-8c02747f14fb" target="_blank" class="text-primary">Part 1: Bootstrap 4 vs Foundation 6.4 — The Grid</a><br><a href="https://medium.com/hackernoon/what-changed-in-bootstrap-4-0-ca3cbbf4f62f" target="_blank" class="text-primary">What changed in Bootstrap 4.0 ?</a><br><a href="https://medium.com/data-science-journal/the-bootstrap-the-swiss-army-knife-of-any-data-scientist-acd6e592be13" target="_blank" class="text-primary">The bootstrap. The Swiss army knife of any data scientist</a><br><a href="https://codeburst.io/getting-started-with-angular-7-and-bootstrap-4-styling-6011b206080" target="_blank" class="text-primary">Building a Simple Angular 7 App with Bootstrap 4 Styling</a><br><a href="https://medium.com/@andersonorui_/bem-sass-and-bootstrap-9f89dc07d20f" target="_blank" class="text-primary">BEM, SASS and Bootstrap: how to mix everything up in a smart way?</a><br><a href="https://medium.com/js-dojo/drop-jquery-from-your-bootstrap-project-and-replace-it-with-vue-js-82230bfca98a" target="_blank" class="text-primary">Drop jQuery From Your Bootstrap Project (And Replace it with Vue.js!)</a><br><a href="https://m.pardel.net/react-and-bootstrap-4-part-1-setup-navigation-d4767e2ed9f0" target="_blank" class="text-primary">React and Bootstrap 4 —Setup &amp; Navigation</a><br><a href="https://levelup.gitconnected.com/create-your-bootstrap-theme-4228aca9117a" target="_blank" class="text-primary">How To Create Your Custom Bootstrap Theme</a><a href="https://m.pardel.net/react-and-bootstrap-4-part-1-setup-navigation-d4767e2ed9f0" target="_blank" class="text-primary"><br></a><a href="https://medium.com/factory-mind/angular-cloud-firestore-step-by-step-bootstrap-tutorial-ecb96db8d071" target="_blank">Angular + Cloud Firestore — Step by step (bootstrap) tutorial</a><a href="https://medium.com/js-dojo/drop-jquery-from-your-bootstrap-project-and-replace-it-with-vue-js-82230bfca98a" target="_blank" class="text-primary"><br></a><a href="https://medium.com/wdstack/bootstrap-4-vertical-center-1211448a2eff" target="_blank" class="text-primary">Bootstrap 4 Vertical Center</a><a href="https://medium.com/@andersonorui_/bem-sass-and-bootstrap-9f89dc07d20f" target="_blank" class="text-primary"><br></a><a href="https://medium.com/hackernoon/how-to-bootstrap-your-saas-company-to-1m-arr-before-raising-venture-capital-d3be086effa0" target="_blank" class="text-primary">How to Bootstrap Your SaaS Company to $1M ARR Before Raising Venture Capital</a><a href="https://codeburst.io/getting-started-with-angular-7-and-bootstrap-4-styling-6011b206080" target="_blank" class="text-primary"><br></a><a href="https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c" target="_blank" class="text-primary">Bootstrap 4 Navbar Examples</a><a href="https://medium.com/data-science-journal/the-bootstrap-the-swiss-army-knife-of-any-data-scientist-acd6e592be13" target="_blank" class="text-primary"><br></a><a href="https://medium.com/wdstack/10-reasons-bootstrap-4-is-better-3ef678b96382" target="_blank" class="text-primary">10 Reasons Bootstrap 4 is Better</a><a href="https://medium.com/hackernoon/what-changed-in-bootstrap-4-0-ca3cbbf4f62f" target="_blank" class="text-primary"><br></a><a href="https://medium.com/@erik_flowers/how-youve-been-getting-the-bootstrap-grid-all-wrong-and-how-to-fix-it-6d97b920aa40" target="_blank" class="text-primary">How you’ve been getting the Bootstrap grid all wrong—and how to fix it</a><a href="https://codeburst.io/part-1-bootstrap-4-vs-foundation-6-4-the-grid-8c02747f14fb" target="_blank" class="text-primary"><br></a><a href="https://travishorn.com/adding-bootstrap-to-a-vue-cli-project-98c2a30e0ed0" target="_blank" class="text-primary">Adding Bootstrap to a Vue CLI Project</a><a href="https://medium.com/@petehouston/setup-twitter-bootstrap-grid-in-sketch-f6e69eab95c2" target="_blank" class="text-primary"><br></a><a href="https://towardsdatascience.com/an-introduction-to-the-bootstrap-method-58bcb51b4d60" target="_blank" class="text-primary">An Introduction to the Bootstrap Method</a><a href="https://uxplanet.org/how-to-customize-bootstrap-b8078a011203" target="_blank" class="text-primary"><br></a><a href="https://medium.com/free-code-camp/learn-the-bootstrap-4-grid-system-in-10-minutes-e83bfae115da" target="_blank" class="text-primary">Learn the Bootstrap 4 Grid System in 10 Minutes</a><a href="https://blog.angularindepth.com/how-to-manually-bootstrap-an-angular-application-9a36ccf86429" target="_blank" class="text-primary"><br></a><a href="https://medium.com/hackernoon/how-to-build-a-website-with-bootstrap-4-beta-cfbafbab8dcb" target="_blank" class="text-primary">How to build a website with Bootstrap 4 Beta</a><br><a href="https://medium.com/@beeman/tutorial-add-bootstrap-to-angular-cli-apps-b0a652f2eb2" target="_blank" class="text-primary">Tutorial: Styling Angular CLI apps with Bootstrap</a><br><a href="https://medium.com/wdstack/how-the-bootstrap-grid-really-works-471d7a089cfc" target="_blank" class="text-primary">How the Bootstrap Grid Really Works</a><a href="https://medium.com/@beeman/tutorial-add-bootstrap-to-angular-cli-apps-b0a652f2eb2" target="_blank" class="text-primary"><br></a><a href="https://medium.com/@programmiri/my-favored-scss-setup-with-bootstrap-4-547e9ea290f8" target="_blank" class="text-primary">My favored SCSS setup with Bootstrap 4</a><a href="https://medium.com/hackernoon/how-to-build-a-website-with-bootstrap-4-beta-cfbafbab8dcb" target="_blank" class="text-primary"><br></a><a href="https://medium.com/@estherfalayi/setting-up-webpack-for-bootstrap-4-and-font-awesome-eb276e04aaeb" target="_blank" class="text-primary">Setting Up Webpack for Bootstrap 4 and Font Awesome</a><br><a href="https://medium.com/building-micro-saas/bootstrap-a-saas-business-with-these-services-fa40983c0586" target="_blank" class="text-primary">Bootstrap a micro-SaaS business with these services</a><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse3_16" aria-expanded="false" aria-controls="collapse3">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>JavaScript (60+)</h4>
                                </a>
                            </div>
                            <div id="collapse3_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7"><a href="https://medium.com/hackernoon/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f" target="_blank" class="text-primary">How it feels to learn JavaScript in 2016</a><br><a href="https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95" target="_blank" class="text-primary">10 Interview Questions
Every JavaScript Developer Should Know</a><br><a href="https://medium.com/free-code-camp/a-study-plan-to-cure-javascript-fatigue-8ad3a54f2eb1" target="_blank" class="text-primary">A Study Plan To Cure JavaScript Fatigue</a><br><a href="https://medium.com/@addyosmani/the-cost-of-javascript-in-2018-7d8950fbb5d4" target="_blank" class="text-primary">The Cost Of JavaScript In 2018</a><br><a href="https://medium.com/the-node-js-collection/modern-javascript-explained-for-dinosaurs-f695e9747b70" target="_blank" class="text-primary">Modern JavaScript Explained For Dinosaurs</a><br><a href="https://medium.com/free-code-camp/google-publishes-a-javascript-style-guide-here-are-some-key-lessons-1810b8ad050b" target="_blank" class="text-primary">13 Noteworthy Points from Google’s JavaScript Style Guide</a><br><a href="https://codeburst.io/top-javascript-vscode-extensions-for-faster-development-c687c39596f5" target="_blank" class="text-primary">Top JavaScript VSCode Extensions for Faster Development</a><br><a href="https://medium.com/dailyjs/i-never-understood-javascript-closures-9663703368e8" target="_blank" class="text-primary">I never understood JavaScript closures</a><br><a href="https://medium.com/free-code-camp/the-complete-javascript-handbook-f26b2c71719c" target="_blank" class="text-primary">The Complete JavaScript Handbook</a><br><a href="https://medium.com/free-code-camp/my-giant-javascript-basics-course-is-now-live-on-youtube-and-its-100-free-9020a21bbc27" target="_blank" class="text-primary">My giant JavaScript Basics course is now live on YouTube. And it’s 100% free</a><br><a href="https://medium.com/javascript-scene/top-javascript-libraries-tech-to-learn-in-2018-c38028e028e6" target="_blank" class="text-primary">Top JavaScript Libraries &amp; Tech to Learn in 2018</a><br><a href="https://medium.com/dev-channel/the-cost-of-javascript-84009f51e99e" target="_blank" class="text-primary">The Cost Of JavaScript</a><a href="https://medium.com/javascript-scene/top-javascript-libraries-tech-to-learn-in-2018-c38028e028e6" target="_blank" class="text-primary"><br></a><a href="https://codeburst.io/javascript-what-the-heck-is-a-callback-aba4da2deced" target="_blank" class="text-primary">JavaScript: What the heck is a Callback?</a><br><a href="https://medium.com/hackernoon/6-reasons-why-javascripts-async-await-blows-promises-away-tutorial-c7ec10518dd9" target="_blank" class="text-primary">6 Reasons Why JavaScript Async/Await Blows Promises Away (Tutorial)</a><br><a href="https://medium.com/javascript-scene/top-javascript-frameworks-topics-to-learn-in-2017-700a397b711" target="_blank" class="text-primary">Top JavaScript Frameworks &amp; Topics to Learn in 2017</a><br><a href="https://medium.com/free-code-camp/every-javascript-framework-tutorial-written-more-than-5-minutes-ago-f96642d4f05" target="_blank" class="text-primary">Every JavaScript framework tutorial written more than 5 minutes ago</a><br><a href="https://blog.sessionstack.com/how-does-javascript-actually-work-part-1-b0bacc073cf" target="_blank" class="text-primary">How JavaScript works: an overview of the engine, the runtime, and the call stack</a><br><a href="https://medium.com/javascript-scene/master-the-javascript-interview-what-is-functional-programming-7f218c68b3a0" target="_blank" class="text-primary">Master the JavaScript Interview: What is Functional Programming?</a><br><a href="https://medium.com/free-code-camp/javascript-modules-a-beginner-s-guide-783f7d7a5fcc" target="_blank" class="text-primary">JavaScript Modules: A Beginner’s Guide</a><br><a href="https://medium.com/@cramforce/designing-very-large-javascript-applications-6e013a3291a3" target="_blank" class="text-primary">Designing very large (JavaScript) applications</a><br><a href="https://medium.com/free-code-camp/i-just-asked-23-000-developers-what-they-think-of-javascript-heres-what-i-learned-9a06b61998fa" target="_blank" class="text-primary">I just asked 23,000 developers what they think of JavaScript. Here’s what I learned</a><br><a href="https://blog.sessionstack.com/how-javascript-works-inside-the-v8-engine-5-tips-on-how-to-write-optimized-code-ac089e62b12e" target="_blank" class="text-primary">How JavaScript works: inside the V8 engine + 5 tips on how to write optimized code</a><br><a href="https://blog.bitsrc.io/11-javascript-utility-libraries-you-should-know-in-2018-3646fb31ade" target="_blank" class="text-primary">11 JavaScript Utility Libraries you Should Know in 2019</a><br><a href="https://medium.com/hackernoon/the-top-javascript-trends-to-watch-in-2018-a8437dd94425" target="_blank" class="text-primary">The Top JavaScript Trends to Watch in 2018</a><br><a href="https://medium.com/@cristiansalcescu/learn-these-javascript-fundamentals-and-become-a-better-developer-2a031a0dc9cf" target="_blank" class="text-primary">Learn these JavaScript fundamentals and become a better developer</a><br><a href="https://blog.bitsrc.io/11-javascript-animation-libraries-for-2018-9d7ac93a2c59" target="_blank" class="text-primary">11 JavaScript Animation Libraries For 2019</a><a href="https://medium.com/@cristiansalcescu/learn-these-javascript-fundamentals-and-become-a-better-developer-2a031a0dc9cf" target="_blank" class="text-primary"><br></a><a href="https://medium.com/ladies-storm-hackathons/how-we-built-our-first-full-stack-javascript-web-app-in-three-weeks-8a4668dbd67c" target="_blank" class="text-primary">How we built our first full-stack JavaScript web app in three weeks</a><a href="https://medium.com/hackernoon/the-top-javascript-trends-to-watch-in-2018-a8437dd94425" target="_blank" class="text-primary"><br></a><a href="https://medium.com/javascript-and-opinions/state-of-the-art-javascript-in-2016-ab67fc68eb0b" target="_blank" class="text-primary">State of the Art JavaScript in 2016</a>
<br><a href="https://medium.com/welldone-software/an-overview-of-javascript-testing-in-2018-f68950900bc3" target="_blank" class="text-primary">An Overview of JavaScript Testing in 2018</a><a href="https://blog.sessionstack.com/how-javascript-works-inside-the-v8-engine-5-tips-on-how-to-write-optimized-code-ac089e62b12e" target="_blank" class="text-primary"><br></a><a href="https://medium.com/free-code-camp/write-less-do-more-with-javascript-es6-5fd4a8e50ee2" target="_blank" class="text-primary">JavaScript ES6 — write less, do more</a>
<br><a href="https://codeburst.io/javascript-map-vs-foreach-f38111822c0f" target="_blank" class="text-primary">JavaScript — Map vs. ForEach</a><a href="https://medium.com/@cramforce/designing-very-large-javascript-applications-6e013a3291a3" target="_blank" class="text-primary"><br></a><a href="https://codeburst.io/learn-how-to-debug-javascript-with-chrome-devtools-9514c58479db" target="_blank" class="text-primary">Learn How To Debug JavaScript with Chrome DevTools</a><a href="https://medium.com/free-code-camp/javascript-modules-a-beginner-s-guide-783f7d7a5fcc" target="_blank" class="text-primary"><br></a><a href="https://medium.com/javascript-scene/the-two-pillars-of-javascript-ee6f3281e7f3" target="_blank" class="text-primary">The Two Pillars of JavaScript</a><a href="https://medium.com/javascript-scene/master-the-javascript-interview-what-is-functional-programming-7f218c68b3a0" target="_blank" class="text-primary"><br></a><a href="https://medium.com/@thejameskyle/dear-javascript-7e14ffcae36c" target="_blank" class="text-primary">Dear JavaScript,</a>
<br><a href="https://medium.com/better-programming/typescript-javascript-with-super-powers-a333b0fcabc9" target="_blank" class="text-primary">TypeScript — JavaScript With Superpowers</a><a href="https://medium.com/free-code-camp/every-javascript-framework-tutorial-written-more-than-5-minutes-ago-f96642d4f05" target="_blank" class="text-primary"><br></a><a href="https://medium.com/tensorflow/introducing-tensorflow-js-machine-learning-in-javascript-bf3eab376db" target="_blank" class="text-primary">Introducing TensorFlow.js: Machine Learning in Javascript</a><a href="https://medium.com/javascript-scene/top-javascript-frameworks-topics-to-learn-in-2017-700a397b711" target="_blank" class="text-primary"><br></a><a href="https://blog.sessionstack.com/how-javascript-works-memory-management-how-to-handle-4-common-memory-leaks-3f28b94cfbec" target="_blank" class="text-primary">How JavaScript works: memory management + how to handle 4 common memory leaks</a><br><a href="https://medium.com/javascript-scene/master-the-javascript-interview-what-is-a-promise-27fc71e77261" target="_blank" class="text-primary">Master the JavaScript Interview: What is a Promise?</a><br><a href="https://medium.com/free-code-camp/7-javascript-methods-that-will-boost-your-skills-in-less-than-8-minutes-4cc4c3dca03f" target="_blank" class="text-primary">These JavaScript methods will boost your skills in just a few minutes</a><br><a href="https://medium.com/hackernoon/two-years-of-functional-programming-in-javascript-lessons-learned-1851667c726" target="_blank" class="text-primary">Two Years of Functional Programming in JavaScript: Lessons Learned</a><br><a href="https://medium.com/free-code-camp/is-vanilla-javascript-worth-learning-absolutely-c2c67140ac34" target="_blank" class="text-primary">Is Vanilla JavaScript worth learning? Absolutely</a><br><a href="https://medium.com/free-code-camp/es5-to-esnext-heres-every-feature-added-to-javascript-since-2015-d0c255e13c6e" target="_blank" class="text-primary">ES5 to ESNext — here’s every feature added to JavaScript since 2015</a>
<br><a href="https://medium.com/coderbyte/a-tricky-javascript-interview-question-asked-by-google-and-amazon-48d212890703" target="_blank" class="text-primary">A Tricky JavaScript Interview Question Asked by Google and Amazon</a><a href="https://medium.com/hackernoon/6-reasons-why-javascripts-async-await-blows-promises-away-tutorial-c7ec10518dd9" target="_blank" class="text-primary"><br></a><a href="https://medium.com/free-code-camp/the-definitive-javascript-handbook-for-a-developer-interview-44ffc6aeb54e" target="_blank" class="text-primary">The Definitive JavaScript Handbook for your next developer interview</a><a href="https://codeburst.io/javascript-what-the-heck-is-a-callback-aba4da2deced" target="_blank" class="text-primary"><br></a><a href="https://medium.com/free-code-camp/9-neat-javascript-tricks-e2742f2735c3" target="_blank" class="text-primary">Learn these neat JavaScript tricks in less than 5 minutes</a><a href="https://medium.com/free-code-camp/my-giant-javascript-basics-course-is-now-live-on-youtube-and-its-100-free-9020a21bbc27" target="_blank" class="text-primary"><br></a><a href="https://medium.com/reloading/javascript-start-up-performance-69200f43b201" target="_blank" class="text-primary">JavaScript Start-up Performance</a><a href="https://medium.com/free-code-camp/the-complete-javascript-handbook-f26b2c71719c" target="_blank" class="text-primary"><br></a><a href="https://medium.com/free-code-camp/how-to-create-a-neural-network-in-javascript-in-only-30-lines-of-code-343dafc50d49" target="_blank" class="text-primary">How to create a Neural Network in JavaScript in only 30 lines of code</a><a href="https://medium.com/dailyjs/i-never-understood-javascript-closures-9663703368e8" target="_blank" class="text-primary"><br></a><a href="https://blog.sessionstack.com/how-javascript-works-event-loop-and-the-rise-of-async-programming-5-ways-to-better-coding-with-2f077c4438b5" target="_blank" class="text-primary">How JavaScript works: Event loop and the rise of Async programming + 5 ways to better coding with async/await</a><a href="https://codeburst.io/top-javascript-vscode-extensions-for-faster-development-c687c39596f5" target="_blank" class="text-primary"><br></a><a href="https://codeburst.io/10-javascript-concepts-you-need-to-know-for-interviews-136df65ecce" target="_blank" class="text-primary">10 JavaScript concepts you need to know for interviews</a><a href="https://medium.com/free-code-camp/google-publishes-a-javascript-style-guide-here-are-some-key-lessons-1810b8ad050b" target="_blank" class="text-primary"><br></a><a href="https://medium.com/poka-techblog/simplify-your-javascript-use-map-reduce-and-filter-bd02c593cc2d" target="_blank" class="text-primary">Simplify your JavaScript – Use .map(), .reduce(), and .filter()</a><a href="https://medium.com/the-node-js-collection/modern-javascript-explained-for-dinosaurs-f695e9747b70" target="_blank" class="text-primary"><br></a><a href="https://levelup.gitconnected.com/9-tricks-for-kickass-javascript-developers-in-2019-eb01dd3def2a" target="_blank" class="text-primary">9 Tricks for Kickass JavaScript Developers in 2019</a><br><a href="https://medium.com/free-code-camp/whats-the-difference-between-javascript-and-ecmascript-cba48c73a2b5" target="_blank" class="text-primary">What’s the difference between JavaScript and ECMAScript?</a><br><a href="https://medium.com/@mandy.michael/is-there-any-value-in-people-who-cannot-write-javascript-d0a66b16de06" target="_blank" class="text-primary">Is there any value in people who cannot write JavaScript?</a><br><a href="https://codeburst.io/a-guide-to-automating-scraping-the-web-with-javascript-chrome-puppeteer-node-js-b18efb9e9921" target="_blank" class="text-primary">A Guide to Automating &amp; Scraping the Web with JavaScript (Chrome + Puppeteer + Node JS)</a><a href="https://medium.com/@mandy.michael/is-there-any-value-in-people-who-cannot-write-javascript-d0a66b16de06" target="_blank" class="text-primary"><br></a><a href="https://blog.bitsrc.io/understanding-design-patterns-in-javascript-13345223f2dd" target="_blank" class="text-primary">Understanding Design Patterns in JavaScript</a><a href="https://medium.com/free-code-camp/whats-the-difference-between-javascript-and-ecmascript-cba48c73a2b5" target="_blank" class="text-primary"><br></a><a href="https://medium.com/free-code-camp/javascript-fatigue-fatigue-66ffb619f6ce" target="_blank" class="text-primary">JavaScript Fatigue Fatigue</a><a href="https://levelup.gitconnected.com/9-tricks-for-kickass-javascript-developers-in-2019-eb01dd3def2a" target="_blank" class="text-primary"><br></a><a href="https://codeburst.io/top-10-javascript-errors-from-1000-projects-and-how-to-avoid-them-2956ce008437" target="_blank" class="text-primary">Top 10 JavaScript errors from 1000+ projects (and how to avoid them)</a><a href="https://medium.com/@addyosmani/the-cost-of-javascript-in-2018-7d8950fbb5d4" target="_blank" class="text-primary"><br></a><a href="https://medium.com/javascript-scene/12-books-every-javascript-developer-should-read-9da76157fb3" target="_blank" class="text-primary">12 Books Every JavaScript Developer Should Read</a><a href="https://medium.com/free-code-camp/a-study-plan-to-cure-javascript-fatigue-8ad3a54f2eb1" target="_blank" class="text-primary"><br></a><a href="https://medium.com/hackernoon/javascript-async-await-the-good-part-pitfalls-and-how-to-use-9b759ca21cda" target="_blank" class="text-primary">JavaScript async/await: The Good Part, Pitfalls and How to Use</a><a href="https://medium.com/javascript-scene/10-interview-questions-every-javascript-developer-should-know-6fa6bdf5ad95" target="_blank" class="text-primary"><br></a><a href="https://medium.com/appsflyer/10-tips-for-javascript-debugging-like-a-pro-with-console-7140027eb5f6" target="_blank" class="text-primary">10 Tips for Javascript Debugging Like a PRO with Console</a><a href="https://medium.com/hackernoon/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f" target="_blank" class="text-primary"><br></a><a href="https://medium.com/free-code-camp/elegant-patterns-in-modern-javascript-ice-factory-4161859a0eee" target="_blank" class="text-primary">Elegant patterns in modern JavaScript: Ice Factory</a><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse4_16" aria-expanded="false" aria-controls="collapse4">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>jQuery (Links are gonna be live soon)</h4>
                                </a>
                            </div>
                            <div id="collapse4_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7"></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse5_16" aria-expanded="false" aria-controls="collapse5">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Node.js (Links are gonna be live soon)</h4>
                                </a>
                            </div>
                            <div id="collapse5_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7"></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse6_16" aria-expanded="false" aria-controls="collapse6">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>AngularJS (Links are gonna be live soon)</h4>
                                </a>
                            </div>
                            <div id="collapse6_16" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


  <script src="/web/assets/jquery/jquery.min.js"></script>
  <script src="/popper/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/smoothscroll/smooth-scroll.js"></script>
  <script src="/parallax/jarallax.min.js"></script>
  <script src="/tether/tether.min.js"></script>
  <script src="/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/dropdown/js/nav-dropdown.js"></script>
  <script src="/dropdown/js/navbar-dropdown.js"></script>
  <script src="/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script src="/theme/js/script.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>
